.title {
    margin-bottom: 3rem;
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 9rem;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -4px;
    color: white;
    -webkit-text-stroke: 2px black;
}