.navLinks {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    gap: 25rem;
    list-style: none;
    margin: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.menuItem {
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    color: #000000;
    text-decoration: none;
}

.menuItem:hover {
    color: #666;
    text-decoration: underline;
}